.form__wrapper {
  width: 50%;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form__wrapper h3 {
  color: #343961;
  margin: 0 0 60px 0;
}

.form__input,
.form__textarea {
  margin: 0 0 50px 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #c2c2d6;
  color: #c2c2d6;
}

.form__textarea {
  min-height: 150px;
  resize: none;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-bottom: 2px solid #343961;
}

.form__button {
  width: 100px;
  height: 30px;
  border: 2px solid #343961;
  background: none;
  justify-content: flex-start;
}
