.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  font-weight: 500;
  font-size: 0.8em;
  color: #343961;

  input {
    display: none;
  }

  &Button {
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #343961;
  }

  input:checked + &Button {
    background-color: #343961;
    box-shadow: inset 0 0 0 2px white;
  }
}
