@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 50px 30px;
  margin: 0 0 50px 0;
  position: relative;
  animation: appear 0.5s ease;

  .image {
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border: 1px solid #343961;
    border-radius: 50%;
  }

  .imageNone {
    @extend .image;

    background: url("https://images.pexels.com/photos/1536431/pexels-photo-1536431.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
      no-repeat;
    background-size: cover;
    background-position: right;
  }

  .description {
    font-weight: 300;
    margin: 10px 0 30px;
  }
}
