.wrapper {
  padding: 35px 80px 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  background-color: white;
  box-shadow: 0 20px 40px -5px rgba(#1e58ff, 0.3);
  position: fixed;

  .buttonClose {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    color: white;
    background-color: #343961;
    border: none;
    position: absolute;
    right: 30px;
    top: 20px;
  }
}
